.start {
    max-width: 1440px;
    margin: 0 auto;
    padding: 70px 15px;
    &__title {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 30px;
        line-height: 105%;
        letter-spacing: 0.02em;
        color: #000000;
    }
    &__wrapper {
        margin-bottom: 70px;
    }
    &__promo {
        text-align: center;
    }
}

.list-text {
    position: relative;
    width: 320px;
    height: 100px;
    &__item {
        position: absolute;
        top:0;
        left: 0;
        width: 360px;
        min-height: 150px;
        font-weight: 700;
        font-size: 24px;
        line-height: 105%;
        letter-spacing: 0.02em;
        color: #000000;
        background: #FFF;
        
        opacity: 1;


        &--active {
            z-index: 999;
        }
    }
}



.list-elem {
    display: flex;
    &__item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        margin-right: 20px;
        background-color: #ffffff;
        border: 1px solid #000000;
        border-radius: 50%;
        cursor: pointer;
        &:not(:last-child)::after {
            content: "";
            
            position: absolute;
            top: 11px;
            left: 23px;

            display: block;
            width: 30px;
            height: 1px;

            background: #000000;
            background-repeat: no-repeat;
        }
    }
    &__elem {
        display: inline-block;
        width: 6px;
        height: 6px;
        background-color: #4264EE;
        border-radius: 50%;
    }
    &__elem-ok {
        color: #4264EE;
        font-size: 9px;
    }
}


@media (min-width: $screen-table) {
    .start {
        padding: 80px 50px;
        &__title {
            font-size: 48px;
            margin-bottom: 50px;

        }

    }
    .list-text {
        &__item {
            width: 404px;
            font-size: 30px;
        }
    }

    .list-elem {
        &__item {
            width: 60px;
            height: 60px;
            margin-right: 35px;
            &:not(:last-child)::after {
                width: 45px;
                top: 28px;
                left: 59px;
            }
        }
        &__elem {
            width: 16px;
            height: 16px;
        }
        &__elem-ok {
            font-size: 26px;
        }
    }
}

@media (min-width: $screen-desktop) {
    .start {
        padding: 80px 70px;
        &__title {
            font-size: 54px;
            margin-bottom: 70px;
        }
        &__wrapper {
            display: flex;
        }
        &__list-text {
            margin-right: 100px;
        }
    }
    .list-text {
        &__item {
            font-size: 34px;
        }
        
    }
    .list-elem {
        &__item {
            margin-right: 45px;
        }
    }
}